@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gluten', cursive;
}

html {
    height: 100%;
}

:root {
    --white: whitesmoke;
    --dark-orange: #ffbc66;
    --medium-orange: #f9cc92;
    --light-orange-opacity: #fbefe2d0;
    --light-orange: #fbefe2;
    --light-red: #fa6157;
    --medium-red: #dd544a;
    --dark-red: #a50f04;
    --btn-dark-green: #7cb51a;
    --btn-medium-green: #99cc2c;
    --btn-light-green: #c2df83;
    --btn-dark-purple: #ae76da;
    --btn-medium-purple: #bd8fe0;
    --btn-light-purple: #d6c1e6;
    --btn-light-blue:#c6eff5;
    --btn-medium-blue:#8adfed;
    --btn-dark-blue:#67d6e9;
    --btn-light-red:#f49f99;
    --btn-medium-red:#f37b72;
    --btn-dark-red:#fa6157;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gluten', cursive;
    background: center / cover no-repeat url(../imgs/background.webp);
    color: var(--dark-red);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes popOh {
    0% {opacity: 0%}
    100% {opacity: 100%}
}

@keyframes popMy {
    0% {opacity: 0%}
    25% {opacity: 0%}
    50% {opacity: 0%}
    100% {opacity: 100%}
}

@keyframes popMemory {
    0% {opacity: 0%}
    25% {opacity: 0%}
    50% {opacity: 0%}
    75% {opacity: 0%}
    85% {opacity: 0%}
    100% {opacity: 100%}
}

#logo {
    text-align: center;
    width: fit-content;
}

#oh, #my {
    width: 8rem;
}

#memory {
    margin-top: -2rem;
}

#memory img{
    width: 15rem;
}

#btnStart {
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 1rem;
    border: 2px solid var(--btn-dark-red);
    box-shadow: inset 0 0.4rem var(--btn-light-red), inset 0 -0.5rem var(--btn-dark-red);
    background: var(--btn-medium-red);
    padding: 1rem 3rem;
    cursor: pointer;
    margin-top: 1rem;
}

#menu, #instructions {
    background: var(--light-orange);
    width: 90%;
    height: 90%;
    /* max-height: 95%; */
    font-family: 'Nunito', sans-serif;
    border-radius: 1rem;
    border: 2px solid var(--dark-orange);
    padding: 1rem;
    display: grid;
    row-gap: 3rem;
    margin-top: 0.906rem;
}

#header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    position: fixed;
    top: 0.4rem;
}

#btnMusic, #goBack {
    display: flex;
    cursor: pointer;
    /* align-self: flex-end; */
    align-items: center;
    /* margin-bottom: auto; */
    /* margin: 0.5rem 1rem 1rem; */
}

#btnMusic img {
    width: 1.1rem;
}

#btnGoBack {
    width: 1.1rem;
}

#btnsLevels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
}

.btnLevel {
    background: center / contain no-repeat url(../imgs/level_btn.webp);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--white);
}

.bestScore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    height: 1rem;
}

.imgEarnedStars {
    width: 1rem;
}

.starsWon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
}

.starsAcquired {
    width: 1rem;
}

#message {
    text-align: center;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--medium-red);
}

#countdown {
    font-size: 1.5rem;
}

.gameBoard {
    background: var(--light-orange);
    max-width: 93%;
    max-height: 95%;
    border-radius: 1rem;
    border: 2px solid var(--dark-orange);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

#boardLevel1 {
    row-gap: 0.8rem;
    column-gap: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#boardLevel1 > .flipContainer {
    width: 5.3rem;
    height: 5.3rem;
    perspective: 12rem;
}

#boardLevel2 > .flipContainer {
    width: 4.2rem;
    height: 4.2rem;
    perspective: 12rem;
}

#boardLevel3 {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#boardLevel3 > .flipContainer {
    width: 3.4rem;
    height: 3.4rem;
    perspective: 12rem;
}

#boardLevel4 > .flipContainer {
    width: 3.1rem;
    height: 3.1rem;
    perspective: 12rem;
}

#boardLevel5 {
    row-gap: 0.4rem;
    column-gap: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#boardLevel5 > .flipContainer {
    width: 2.8rem;
    height: 2.8rem;
    perspective: 12rem;
}

#boardLevel6 {
    row-gap: 0.4rem;
    column-gap: 0.4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#boardLevel6 > .flipContainer {
    width: 2.6rem;
    height: 2.6rem;
    perspective: 12rem;
}

.flipper {
    position: relative;
    width: 100%;
	height: 100%;
    transition: transform 0.8s;
	transform-style: preserve-3d;
}

.cardFront, .cardBack {
    position: absolute;
    border-radius: 0.7rem;
    border: 1px solid rgb(201, 195, 195);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardFront {
    transform: rotateY(180deg);
}

.cardFront img {
    /* width: 3.5rem; */
    width: 75%;
}
/* Esse vai ter que ser em porcentagem */

.cardBack {
    background: center / contain no-repeat url(../imgs/card_back.webp);
}

/* 
Aqui usamos absolute para poder usar o z-index para fazer ficar em cima 
de tudo e nao poder clicar em nada embaixo!!! */
#opaqueBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding: 1rem;
    background: var(--light-orange-opacity);
    text-align: center;
}

#youWin, #gameOver {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

#imgYouWin, #imgGameOver {
    width: 16rem;
}

.starScore {
    width: 2.3rem;
}

#scoreContainer {
    color: var(--light-red);
    text-shadow: 2px 2px var(--medium-brown);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
}

#btnsEndLevel {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#btnLevelsMenu, #btnTryAgain, #btnNextLevel , #btnInstructions, #btnPlayAgain {
    color: var(--white);
    width: 9rem;
    height: 2.7rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    border: 2px solid var(--dark-orange);
    box-shadow: inset 0 0.5rem var(--light-orange), inset 0 -0.5rem var(--dark-orange);
    background: var(--medium-orange);
    padding: 0.8rem;
    transform: scale(1);
    cursor: pointer;
}

#btnInstructions, #btnLevelsMenu {
    border: 2px solid var(--btn-dark-purple);
    box-shadow: inset 0 0.3rem var(--btn-light-purple), inset 0 -0.3rem var(--btn-dark-purple);
    background: var(--btn-medium-purple);
    justify-self: center;
}

#btnTryAgain, #btnNextLevel {
    border: 2px solid var(--btn-dark-green);
    box-shadow: inset 0 0.3rem var(--btn-light-green), inset 0 -0.3rem var(--btn-dark-green);
    background: var(--btn-medium-green);
}

#btnPlayAgain {
    border: 2px solid var(--btn-dark-red);
    box-shadow: inset 0 0.3rem var(--btn-light-red), inset 0 -0.3rem var(--btn-dark-red);
    background: var(--btn-medium-red);
}

/* IPhone SE */
@media only screen and (min-width: 355px) {
    
    #boardLevel3 > .flipContainer {
        width: 4.5rem;
        height: 4.5rem;
        /* perspective: 12rem; */
    }

    #boardLevel4 {
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #boardLevel4 > .flipContainer {
        width: 3.6rem;
        height: 3.6rem;
        /* perspective: 12rem; */
    }
    
    #boardLevel5 > .flipContainer {
        width: 3rem;
        height: 3rem;
        /* perspective: 12rem; */
    }

    #boardLevel6 > .flipContainer {
        width: 3.2rem;
        height: 3.2rem;
        /* perspective: 12rem; */
    }
}

/* IPhone 12 Pro / Pixel5*/
@media only screen and (min-width: 390px) {
    #menu, #instructions {
        height: 80%;
    }

    /* .cardFront img {
        width: 4.7rem;
    } */

    #boardLevel1 > .flipContainer {
        width: 7rem;
        height: 7rem;
        /* perspective: 12rem; */
    }
    
    #boardLevel2 > .flipContainer {
        width: 6rem;
        height: 6rem;
        /* perspective: 12rem; */
    }

    #boardLevel4 > .flipContainer {
        width: 4.7rem;
        height: 4.7rem;
        /*perspective: 12rem; */
    }

    #boardLevel5 > .flipContainer {
        width: 3.9rem;
        height: 3.9rem;
        /* perspective: 12rem; */
    }

    #boardLevel6 > .flipContainer {
        width: 3.8rem;
        height: 3.8rem;
        /* perspective: 12rem; */
    }
}

/* Galaxy A51/71 / Iphone XR */
@media only screen and (min-width: 400px) {
    #menu, #instructions {
        width: 90%;
        height: 80%;
    }
    /* Conferir se ta sendo usado: */
    #boardLevel1 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #boardLevel1 > .flipContainer {
        width: 6.5rem;
        height: 6.5rem;
        /* perspective: 12rem; */
    }

    #boardLevel2 {
        row-gap: 0.8rem;
        column-gap: 0.8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #boardLevel2 > .flipContainer {
        width: 5rem;
        height: 5rem;
        /* perspective: 12rem; */
    }

    #boardLevel3 > .flipContainer {
        width: 5rem;
        height: 5rem;
        /* perspective: 12rem; */
    }

    #boardLevel4 > .flipContainer {
        width: 4rem;
        height: 4rem;
        /* perspective: 12rem; */
    }

    #boardLevel5 > .flipContainer {
        width: 3.3rem;
        height: 3.3rem;
        /* perspective: 12rem; */
    }

    #boardLevel6 > .flipContainer {
        width: 3.8rem;
        height: 3.8rem;
        /* perspective: 12rem; */
    }
}

/* Ipad Mini/ Ipad Air/ Surface Pro 7 */
@media only screen and (min-width: 760px) {
    #menu, #instructions {
        width: 60%;
        height: 60%;
    }

    /* .cardFront img {
        width: 6.5rem;
    } */

    #boardLevel1 > .flipContainer {
        width: 10rem;
        height: 10rem;
        /* perspective: 12rem; */
    }
    
    #boardLevel2 > .flipContainer {
        width: 8.5rem;
        height: 8.5rem;
        /* perspective: 12rem; */
    }
    
    #boardLevel3 > .flipContainer {
        width: 5rem;
        height: 5rem;
        /* perspective: 12rem; */
    }

    #boardLevel4 {
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    #boardLevel4 > .flipContainer {
        width: 6.7rem;
        height: 6.7rem;
        /* perspective: 12rem; */
    }
    
    #boardLevel5 > .flipContainer {
        width: 5rem;
        height: 5rem;
        /* perspective: 12rem; */
    }
    
    #boardLevel6 > .flipContainer {
        width: 5.5rem;
        height: 5.5rem;
        /* perspective: 12rem; */
    }
}

@media only screen and (min-width: 1000px) {
    #menu, #instructions {
        width: 30%;
        height: 65%;
        padding-top: 3rem;
    }

    /* .cardFront img {
        width: 5.3rem;
    } */

    #boardLevel1 > .flipContainer {
        width: 8rem;
        height: 8rem;
        /* perspective: 12rem; */
    }

    #boardLevel2 {
        grid-template-columns: repeat(5, 1fr);
    }
    
    #boardLevel2 > .flipContainer {
        width: 7.5rem;
        height: 7.5rem;
        /* perspective: 12rem; */
    }

    #boardLevel3 {
        grid-template-columns: repeat(7, 1fr);
    }
    
    #boardLevel3 > .flipContainer {
        width: 7rem;
        height: 7rem;
        /* perspective: 12rem; */
    }
    
    #boardLevel4 > .flipContainer {
        width: 7rem;
        height: 7rem;
        /* perspective: 12rem; */
    }

    #boardLevel5 {
        grid-template-columns: repeat(11, 1fr);
    }
    
    #boardLevel5 > .flipContainer {
        width: 5.2rem;
        height: 5.2rem;
        /* perspective: 12rem; */
    }

    #boardLevel6 {
        grid-template-columns: repeat(10, 1fr);
    }
    
    #boardLevel6 > .flipContainer {
        /* perspective: 12rem; */
    }
}