@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap');
/* Lembrar de colocar cores em variaveis!!! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gluten', cursive;
}

:root {
    --dark-orange: #ffbc66;
    --medium-orange: #f9cc92;
    --light-orange-opacity: #fbefe2d0;
    --light-orange: #fbefe2;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gluten', cursive;
    background: center / cover no-repeat url(../imgs/background.png);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes popOh {
    0% {opacity: 0%}
    100% {opacity: 100%}
}

@keyframes popMy {
    0% {opacity: 0%}
    25% {opacity: 0%}
    50% {opacity: 0%}
    100% {opacity: 100%}
}

@keyframes popMemory {
    0% {opacity: 0%}
    25% {opacity: 0%}
    50% {opacity: 0%}
    75% {opacity: 0%}
    85% {opacity: 0%}
    100% {opacity: 100%}
}


#logo {
    text-align: center;
    width: fit-content;
}

#oh, #my {
    width: 8rem;
    /* opacity: 0; */
}

#oh {
    /* animation-delay: 5s; */
    /* animation: 1s 5s popOh; */
}

#my {
    /* animation: 1s 7s popMy; */
}

#memory {
    margin-top: -2rem;
    /* margin-top: 1.5rem;
    margin-bottom: -6.5rem; */
}

#memory img{
    width: 15rem;
    /* opacity: 0; */
    /* animation: popMemory 1s; */
}

#btnStart {
    color: whitesmoke;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: 2px solid var(--dark-orange);
    box-shadow: inset 0 0.5rem var(--light-orange), inset 0 -0.5rem var(--dark-orange);
    background: var(--medium-orange);
    padding: 1rem 3rem;
    transform: scale(1);
}

#initialBoard {
    background: var(--light-orange);
    width: 90vw;
    max-height: 90vh;
    border-radius: 1rem;
    border: 2px solid var(--dark-orange);
    padding: 1rem;
    display: grid;
    row-gap: 7rem;
}

#levels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
}

.levelBtn {
    background: center / contain no-repeat url(../imgs/level_btn.png);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: whitesmoke;
}

#message {
    text-align: center;
}

.gameBoard {
    background: var(--light-orange);
    width: 90vw;
    max-height: 90vh;
    border-radius: 1rem;
    border: 2px solid var(--dark-orange);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

/* #boardLevel1 {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

#boardLevel1 > .flipContainer {
    width: 38%;
    perspective: 12rem;
   
}

#boardLevel2 > .flipContainer {
    width: 4rem;
    height: 4rem;
    max-width: 8rem;
    max-height: 8rem;
    perspective: 12rem;
} */

.flipContainer {
    width: 5.5rem;
    height: 5.5rem;
    perspective: 12rem;
}

.flipper {
    position: relative;
    width: 100%;
	height: 100%;
    transition: transform 0.8s;
	transform-style: preserve-3d;
}

.cardFront, .cardBack {
    position: absolute;
    border-radius: 1rem;
    border: 1px solid ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.cardFront {
    transform: rotateY(180deg);
}

.cardFront img {
    width: 3rem;
}

.cardBack {
    background: center / contain no-repeat url(../imgs/cardBack.png);
}

#gameOver {
    width: 100%;
    height: 100%;
    background: center / contain no-repeat url(../imgs/gameOver.png) var(--light-orange-opacity);
    position: absolute;
    z-index: 1;
    padding: 1rem;
}

@media only screen and (min-width: 1000px) {
    #levels {
        grid-template-columns: repeat(3, 1fr);
    }
    .levelBtn {
        cursor: pointer;
    }
}